
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:50px;
}

#seconds {
    height: 100px;
    width: 300px;
    /* outline: dotted; */
    outline-color: mediumaquamarine;
    font-size: 2em;
    text-align: center;
}
button {
    background-color: lightseagreen;
    border-radius: 10%;
    outline: none;
    height:100px;
    width: 200px;
    /* position: relative; */
}